<div class="test">
  <% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <script type="text/javascript">$(document).ready(function() {show_proceed();});</script>
  <% end %>
  <%= link_to "<button>play</button>".html_safe, "#", {:onclick => "javascript:play_sequence('#{@trial.sequence.ordered_chords.map{|c| c.file}.join("','")}');show_proceed();"} %>
  <div class="proceed">
    <%= form_for @trial.sequence, {:url => run_test_next_path, :method => :post} do |f| %>
    <%= f.radio_button :src, :human, :checked => false %>Human<br />
    <%= f.radio_button :src, :computer, :checked => false %>Computer<br />
    <%= f.hidden_field :id %>
    <%= f.submit "next" %>
    <% end %>
  </div>
  <div class="progress">
    <% @trial_count.times do %>
    <div class="filled">&nbsp;</div>
    <% end %>
    <% (10-@trial_count).times do %>
    <div class="unfilled">&nbsp;</div>
    <% end %>
  </div>
  <div class="progress_details">
    <%= @trial_count %> / 10
  </div>
</div>
